// site properties
@import '../abstracts/variables';
// mixins
@import '../abstracts/mixins';

html,
body {
    width: 100%;
    height: 100%;

    ::-webkit-scrollbar { /* chrome based */
        width: 0px !important;  /* ширина scrollbar'a */
        background: transparent;  /* опционально */
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
    }

    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}

body {
    overflow-x: hidden;
    font-family: "OpenSans-Regular";
    color: #222222;

    &[data-hidden= ":hidden"] {
        overflow-y: hidden;
    }

    &.ready {
        opacity: 1;
    }

    &.loaded-page {

    }
    a {
        text-decoration: none;
        font-family: "OpenSans-Semibold";
        transition: color 0.2s ease, opacity 0.2s ease;

        &:hover, &:visited {
            color: inherit;
        }
    }
}

.body-grid {
    max-height: 100vh;
    overflow: hidden;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 45px 1fr;
}

.bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.person {
    background-image: url("../../images/header/photo_default.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

b {
    font-weight: 100;
    font-family: "OpenSans-Bold";
}

.safari .owl-carousel .owl-item .owl-lazy {
    opacity: 1;
}

input,
textarea,
select {
    outline: none;
    border: none;
    border-radius: 0 !important;
    @include placeholder {
        color: #000000;
        font-family: OpenSans-Regular;
    }
}

.ie {
    & .main-grid-wrapper {
        opacity: 0;
    }

    & .ie-detect {
        display: block !important;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999999999999999;
        background-color: #FDF4F3;
        color: black;
        padding: 15%;

        & p {
            font-size: 20px;
            line-height: 1.18;
            margin-bottom: 12px;

            & br {

            }
        }

        & b {
            font-size: 25px;
            font-weight: 100;
            margin-bottom: 25px;
            display: block;
        }
    }
}

.btn {
    display: inline-block;
    outline: none;
    height: 47px;
    line-height: 42px;
    padding: 0 26px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.25) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 0 2px #fff;
    color: #fff;
    transition: all 0.2s ease;

    &:active {
        transition: none;
        //border-color: rgba(0, 0, 0, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.25) rgba(0, 0, 0, 0.15);
        border-color: transparent;
    }
    &:hover {
        box-shadow: none;
    }
    &--orange {
        background-color: #efcb5b;
    }
    &--green {
        background-color: #6bcf6b;
    }
}

.octa-btn {
    cursor: pointer;
    font-family: "OpenSans-Regular";
    font-size: 14px;
    display: inline-block;
    position: relative;
    color: #5f9abb;
    height: 30px;
    min-width: 94px;
    text-align: center;
    line-height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='962' height='314' viewBox='0 0 962 314' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.9065 307.5L6 234.935V83.9417L82.0291 6H881.914L955.5 83.8861V234.992L882.038 307.5H81.9065Z' stroke='%235F9ABB' stroke-width='12'/%3E%3C/svg%3E%0A");
    padding: 0 22px;
    transition: background-image 0.2s ease, color 0.2s ease;

    &.active, &:hover {
        color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='964' height='316' viewBox='0 0 964 316' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 238.5V82.5L80.5 1H885.5L962.5 82.5V238.5L885.5 314.5H80.5L1 238.5Z' fill='%235F9ABB' stroke='%235F9ABB' stroke-width='2'/%3E%3C/svg%3E");
    }
    &--long {
        background-image: url("data:image/svg+xml,%3Csvg width='1894' height='314' viewBox='0 0 1894 314' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.9065 307.5L6 234.935V83.9417L82.0291 6H1813.91L1887.5 83.8861V234.992L1814.04 307.5H81.9065Z' stroke='%235F9ABB' stroke-width='12'/%3E%3C/svg%3E%0A");

        &.active, &:hover {
            background-image: url("data:image/svg+xml,%3Csvg width='1894' height='314' viewBox='0 0 1894 314' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.9065 307.5L6 234.935V83.9417L82.0291 6H1813.91L1887.5 83.8861V234.992L1814.04 307.5H81.9065Z' fill='%235F9ABB' stroke='%235F9ABB' stroke-width='12'/%3E%3C/svg%3E%0A");
        }
    }
}

.lazyClass.elHidden {
    //filter: blur(3px);
    min-width: 100%;
    height: auto;
}

.owl-item {
    .lazyClass.elHidden {
        //filter: blur(0);
    }
}

img {
    color: transparent;
}

.owl-carousel.owl-loaded {
    touch-action: manipulation;
}

@import '../media/layout/general.scss';